html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  overflow: hidden;
  background-color: grey;
}

img {
  width: 100%;
}

#car2{
  top: 35%;
}

.car {
  margin: auto;
  margin-right: 20px;
  position: absolute;
  left: 0;
  top: 40%;
  right: 0;
  width: 150px;
  height: auto;
}

.park {
  margin-left: 0;
  margin-right: auto;
  margin-top: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 20px; 
  font-family: Arial;
  font-size: 36px;
  color: white;
  position: absolute;
  left: 50px;
  top: 38%;
  right: 0;
  width: 200px;
  height: 110px;
  z-index: -1;
  border: 5px solid white;
}

.instructions{
  margin-right: auto;
  margin-top: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 10px; 
  font-family: Arial;
  font-size: 14px;
  color: white;
  position: absolute;
  left: 50px;
  top: 0;
  width: 300px;
  height: 93px;
  z-index: -1;
  border: 5px solid white;
}

.score {
  position: fixed;
  margin-top: 15px;
  padding: 15px;
  right: 45%;
  top: 0;
  font-family: Arial;
  font-size: 20px;
  color: white;
}
